<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutus.css') }}">
</head>
  <div class="topnav">
  <a href="home.html">home</a>
  <a href="prediction.html">prediction</a>
  <a href="diseaseinfo.html">diseaseinfo</a>
  <a href="aboutus.html">aboutus</a>
</div>
<body>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="girl.png" alt="Pranathi" style="width:35%">
      <div class="container">
        <h2>Pranathi D</h2>
        <p class="title">1KG16CS069</p>
         <p>Department:CSE</p>
         <p>College : KS School of Engineerning and Management</p>
         <p>Batch: 2016-2020</p>
        <p>pranathideepak98@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="boy.png" alt="Revanth" style="width:35%">
      <div class="container">
        <h2>Revanth Chowdary</h2>
        <p class="title">1KG16CS082</p>
        <p>Department:CSE</p>
         <p>College : KS School of Engineerning and Management</p>
         <p>Batch: 2016-2020</p>
        <p>revanthchowdary6399@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="girl.png" alt="Saraiyu" style="width:35%">
      <div class="container">
        <h2>Saraiyu NR</h2>
        <p class="title">1KG16CS090</p>
      <p>Department:CSE</p>
         <p>College : KS School of Engineerning and Management</p>
         <p>Batch: 2016-2020</p>
        <p>sarayunr98@ gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="girl.png" alt="tejaswi" style="width:35%">
      <div class="container">
        <h2>Tejaswi V</h2>
        <p class="title">1KG16CS115</p>
       <p>Department:CSE</p>
         <p>College : KS School of Engineerning and Management</p>
         <p>Batch: 2016-2020</p>
        <p>vellankitejaswi77@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>