<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

<div class="topnav">
  <a href="home.html">home</a>
  <a href="prediction.html">prediction</a>
  <a href="diseaseinfo.html">diseaseinfo</a>
  <a href="aboutus.html">aboutus</a>
</div>
 <h1>MeraPulse</h1>
 <h2>"With a Healthy Heart.. The Beat goes on"</h2>
 <h3>Get your Prediction...NOW!!</h3>
</body>
</html>