<!doctype html> <html lang="en"> 
 
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/disease.css') }}">
	  <title>MeraPulse</title>
	   </head>
	   <body> 
  <div class="topnav">
  <a href="home.html">home</a>
  <a href="prediction.html">prediction</a>
  <a href="diseaseinfo.html">diseaseinfo</a>
  <a href="aboutus.html">aboutus</a>
</div>
 <p>The algorithm has diagnosed you with no heart disease based on your inputs. However it is recommended to consult Doctor</p> 
</div>
 </body> 
 
</html>